@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

h1.title {
  letter-spacing: 7px;
  font-size: 60px;
  font-family: "Permanent Marker", sans-serif;
  background: -webkit-linear-gradient(#eee, #111);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description {
  color: white;
}

a {
  color: #8f8fff;
}
